body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e5e4;
    color: #252525;
  }
  
  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }
  
  .navbar nav a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .navbar nav a:hover {
    background-color: #A89283;
  }
  
  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
  }
  
  .slider-box {
    position: relative;
  }
  
  .slide {
    width: 100%;
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  .slider-btns {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .slider-btns button {
    background: #252525;
    color: white;
    border: none;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .info-box {
    background-color: #A89283;
    padding: 30px;
    border-radius: 12px;
    color: white;
    width: 100%;
  }
  
  .info-box h2 {
    font-size: 3rem;
    margin-bottom: 25px;
    width: 100%;
  }
  
  .info-box p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 25px;
  }
  
  .info-box h3 {
    font-size: 1.4rem;
    margin-bottom: 12px;
  }
  
  .info-box ul {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  
  .price {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 30px;
    color: #fff;
    width: 100%;
  }
  
  
  .details {
    padding: 30px;
    background-color: #D7D5D3;
    text-align: center;
  }
  
  .details-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .details-grid img {
    width: 100%;
    border-radius: 10px;
  }
  