
/*
#E7E5E4, #D7D5D3, #B2B0AE, #A89283, #252525
*/

body {
    margin: 0; /* space outside element — between element’s border + other elements around */
    padding: 32px;  /*space inside element - between content and border.*/
    background-color: #E7E5E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  
.navbar {
    background: #e6dad3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar nav a {
    margin-left: 20px;
    padding: 10px 18px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    display: inline-block; 
}

.navbar nav a:hover {
    background-color: #A89283;
}

.navbar nav a:active {
    box-shadow: 0 0 10px #A89283, 0 0 20px #A89283;
}

  .subheading {
    font-size: 14px;
    color: #d26d29;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  
  .main-heading {
    font-size: 18px;
    font-weight: bold;
    color: #726055;
    margin: 0; /* remove the default spacing */
  } 
  
  .headingbig {
    font-weight: lighter;
    color: #573b28;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .underlined {
    text-decoration: underline;
    text-decoration-color: #443a34; 
    text-decoration-thickness: 3px; 
  }
  
  .middle-underline {
    position: relative; /* set up as a reference point -  positioned relative to this element*/
  }
  
  .middle-underline::after {
    content: "";   /* creates a blank element you can style */
    position: absolute;  /* lets you place element where you want it - nearest positioned parent.*/
    bottom: -5px;   /* distance of line from text */
    left: 20%;  /* start of line */
    width: 60%;   /* length of line should be */
    height: 3px;  /* Thickness of underline */
    background-color: #A89283;  /* Color of underline */
  }
  
  .orange {
    position: relative;
  }
  
  .orange::after {
    content: "";   /* creates a blank element you can style */
    position: absolute;  /* lets you place element where you want it - nearest positioned parent.*/
    bottom: -7px;   /* distance of line from text */
    left: 0%;  /* start of line */
    width: 60%;   /* length of line should be */
    height: 3px;  /* Thickness of underline */
    background-color: #d26d29;  /* Color of underline */
  }
  
  .accessories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 32px;
  }
  
  .card {
    width: 350px;
    background-color: #e6dad3;
    border-radius: 10px;
    border: 1px solid #c19a7f;
    box-shadow: 0 5px 8px rgba(63, 39, 24, 0.386);
    transition: 0.2s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: grab;
  }
  
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px #69503e(0, 0, 0, 0.15);
  }
  
  .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card .title {
    margin: 8px 0;
    font-size: 17.6px;
    color: #423329;
    font-weight: bold;
  }
  
  .card .price {
    color: #6e3815;
    font-size: 16px;
  }
  
  .card .details {
    color: #d26d29;
    font-size: 14.4px;
    text-decoration:underline;
    margin-top: auto;
  }
  
  .card .details:hover {
    color: #504136;
  }